:root{
    --col-primario:#91be43;
    --col-secundario:#7d994d;
    --col-selector:rgb(24, 179, 24);
    --col-selector-trans:rgb(24, 179, 24,.07);
}
/* -----------------NAV--------------------- */
.color-nav{
background-color: #27282bdc !important;
}
.navbar .navbar-collapse{
    flex-grow: 0;
}
.navbar .navbar-brand{
    color: white;
}
.navbar #navbarSupportedContent a{ 
    color: rgba(201, 219, 216, 0.753);
    font-size: 1.1rem;
}
.navbar #navbarSupportedContent a:hover{
    color: white;
}
nav ul li a:hover{
    color: var(--col-selector) !important;
}

/* ------------------------HERO----------------------------- */
#imagen-hero{
    background-size: cover !important;
    background-position:bottom;
    background: linear-gradient(rgba(5,7,12,0.50), rgba(5,7,12,0.70)),url("./img/ba1.jpg");
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imagen-hero .mx-auto{
    margin-right: 5rem !important;
}

#imagen-hero .btn-outline-secondary{
    background-color:var(--col-selector-trans);
    color: white;
    border-color: white;
}
#imagen-hero .btn-outline-secondary:hover{
    background-color: var(--col-selector);
}

#imagen-hero .lead{
    font-weight: 400;
}
#image-hero .font-h1{
    font-size: 2.5rem;
}
/* -------------------------MAIN-------------------------- */
P:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: dotted;
}
span{
    font-size: 2rem;
    font-weight: 500;
}
main .container-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
main .card{
    margin: 0 1rem;
}

main .margen-foto{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0;
    padding-right: 0;
}
main .fondo-frase{
    background-color: #27282bdc;
    color: white;
}
/* -----------------------FORMULARIO------------------------ */
#convert-orador a{
    text-decoration: none;
    color: var(--col-primario);
}
.formulario{
    width: 50%;
    margin: 0 auto;
}

section form button{
    background-color: var(--col-primario) !important;
    border-color: var(--col-primario) !important;
}

section form button:hover{
        background-color:var(--col-secundario)!important;
} 
/* --------------FOOTER------------------ */
.bg-gradient{
    background-image: linear-gradient(to right, #1d3947, #1e5070) !important;
}

footer .container{
    padding: 0.5rem;
}
footer .container a{
    text-decoration: none;
    color: white;
}

